body {
  margin: 2rem;
  border: 10px solid #FFF8F4;
  height: auto;
  padding: 2rem;
  
}

#hi {
  font-family: "Dancing Script", cursive;
  text-align: left;
  font-size: 5rem;
  /* font-weight: bold; */
  /* animation: slide-left 0.7s ease-in; */
}

#iam {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  text-align: left;
  /* animation: slide-left 0.8s ease-in; */
}

#name {
  font-size: 5rem;
  font-family: "Charis SIL", serif;
  font-weight: bold;
  margin-bottom: 0;
  /* animation: slide-left 1s ease-in; */
}
.image {
  text-align: center;
  margin: auto;
  height: auto;
  width: 100%;
  animation: image-pop 1s ease-in-out;
  
  
}

.undraw {
  text-align: right;
  margin-left: auto;
}
#college {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Charis SIL", serif;
  margin-top: 0;
  /* animation: slide-left 1s ease-in; */
}

.mydetails {
  /* text-align: center; */
  margin: auto;
}

img {
  width: 60%;
  height: auto;
  margin: auto;
  
 
}


.middle{
  margin: auto;
  
}

.center{
  text-align: center;
}
.row {
  margin: 1rem;
  min-height: 80vh;

  /* display: block; */
}


#aboutme{
  font-size: 10rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  z-index: -1;
 color: 	#A9A9A9;
}
.row-divider {
  border-bottom: 10px solid #EDE7E4;
  height: 2rem;
  margin: 1.5rem auto;
  display: block;
}

.contentparagraph-r{
  /* background-color: #FFFAE6; */
  border-radius: 5px;
  /* border-bottom: 1px solid black;
  border-right: 1px solid black; */
  border: 1px solid black;
  padding: 0.5rem;
  box-shadow: 1px 2px gray;
  /* font-family: 'Dancing Script', cursive; */

  font-family: "Roboto Mono", monospace;

  font-size: 1.2rem;
  margin: 2.5rem;

}
.contentparagraph-r:hover{
  /* background-color: #FFFAE6; */
  border-radius: 5px;
  /* border-bottom: 1px solid black;
  border-right: 1px solid black; */
  border: 1px solid black;
  padding: 0.5rem;
  box-shadow: 1px 3px gray;
  /* font-family: 'Dancing Script', cursive; */

  font-family: "Roboto Mono", monospace;

  font-size: 1.2rem;
  margin: 2.5rem;

}

.contentparagraph {
  /* background-color: #FFFAE6; */

  padding: 0.5rem;
  font-family: "Dancing Script", cursive;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
}

.contentparagraph-l {
  /* background-color: #FFFAE6; */
  border-radius: 5px;
  /* border-bottom: 1px solid black;
  border-left: 1px solid black; */
  border: 1px solid black;
  box-shadow: 1px 2px gray;
  padding: 0.5rem;
  /* font-family: 'Dancing Script', cursive; */
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  margin: 2.5rem;

}

.contentparagraph-l:hover {
  /* background-color: #FFFAE6; */
  border-radius: 5px;
  /* border-bottom: 1px solid black;
  border-left: 1px solid black; */
  border: 1px solid black;
  box-shadow: 1px 3px gray;
  padding: 0.5rem;
  /* font-family: 'Dancing Script', cursive; */
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  margin: 2.5rem;

}


.section-heading {
  font-weight: bold;
  font-size: 3rem;
  /* font-family: 'Dancing Script', cursive; */
  font-family: "Roboto Mono", monospace;
}

a:hover {
  text-decoration: none;
}

.information {
  font-family: "Dancing Script";
  /* font-family: 'Lora', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Mono', monospace; */
  line-height: 1.5rem;
  font-size: 1.4rem;
 
  
}

.info-name {
  font-weight: bold;
  font-size: 2.0rem;
}

.bottom {
  text-align: center;
}

.icons {
  font-size: 1.2rem;
  margin: 1rem;
}

@media only screen and (max-width: 767px) {
  .section-heading {
    font-weight: bold;
    font-size: 2rem;
    /* font-family: 'Dancing Script', cursive; */
    font-family: "Roboto Mono", monospace;
    text-align: center;
  }

  .row{
   margin: 0;
  }

  #aboutme{
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    z-index: -1;
   color: 	#A9A9A9;
  }
  .contentparagraph-r {
    /* background-color: #FFFAE6; */
    border-radius: 5px;
    border: 1px solid black;
   
    padding: 0.5rem;
    /* font-family: 'Dancing Script', cursive; */
    font-family: "Roboto Mono", monospace;
    font-size: 1.2rem;
    margin: 1rem;
    
  }

  .contentparagraph-l {
    /* background-color: #FFFAE6; */
    border-radius: 5px;
    border: 1px solid black;
   
    padding: 0.5rem;
    /* font-family: 'Dancing Script', cursive; */
    font-family: "Roboto Mono", monospace;
    font-size: 1.2rem;
    margin: 1rem;
  }


  .info-name {
    font-weight: bold;
    font-size: 1.7rem;
   
   
  }
  a{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 540px) {
  body{
    padding: 0.5rem;
  }
  #aboutme{
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    z-index: -1;
   color: 	#A9A9A9;
  }
  .section-heading {
    font-weight: bold;
    font-size: 1.4rem;
    /* font-family: 'Dancing Script', cursive; */
    font-family: "Roboto Mono", monospace;
    /* text-align: center; */
  }
}



@media only screen and (max-width: 460px) {

  #aboutme{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    z-index: -1;
   color: 	#A9A9A9;
  }
  .section-heading {
    font-weight: bold;
    font-size: 1.2rem;
    /* font-family: 'Dancing Script', cursive; */
    font-family: "Roboto Mono", monospace;
    /* text-align: center; */
  }


  body {
    margin: 0.1rem;
    /* border: 10px solid blanchedalmond; */
    height: auto;
    padding: 0.2rem;
  }
  
  #hi {
    font-family: "Dancing Script", cursive;
    text-align: left;
    font-size: 2.2rem;
    /* font-weight: bold; */
  }
  
  #iam {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    text-align: left;
  }
  
  #name {
    font-size: 3rem;
    font-family: "Charis SIL", serif;
    font-weight: bold;
    margin-bottom: 0;
  }
  .image {
    text-align: center;
    margin: auto;
    height: auto;
    width: 100%;
  }
  #college {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: "Charis SIL", serif;
    margin-top: 0;
  }
  
  .mydetails {
    /* text-align: center; */
    margin: auto;
  }
  
  img {
    width: 100%;
    height: auto;
    margin: auto;
    
  }
  
  .row {
    margin: 1rem;
    min-height: 80vh;
  
    /* display: block; */
  }
  /* .first-profile{
      height: 40rem;
      margin: 2rem;
  
  } */
  .container{
    padding: 0.1rem;

  }

  .col{
    padding: 0;
    margin: 0.1rem;
  }
  /* .imgleft{
      border-top: 15px solid blueviolet;
      border-left: 15px solid blueviolet;
      border-radius: 5px;
  }
  
  
  .imgright{
      border-bottom: 13px solid blueviolet;
      border-right: 13px solid blueviolet;
      border-radius: 5px;
  } */
  
  .row-divider {
    border-bottom: 10px solid wheat;
    height: 2rem;
    margin: 1.5rem auto;
    display: block;
  }
  
  .contentparagraph-r {
    /* background-color: #FFFAE6; */
    /* border: none; */
    font-size: 1rem;
    text-align: left;
    /* border-top: 1px solid gray; */
    /* border-radius: 0; */
  }
  
  .contentparagraph {
    /* background-color: #FFFAE6; */
    font-size: 1rem;
    text-align: left;
    border-top: 1px solid gray;

   
  }
  a{
    font-size: 1rem;
  }
  .contentparagraph-l {
    /* background-color: #FFFAE6; */
    /* border: none; */
    font-size: 1rem;
    text-align: left;
    /* border-top: 1px solid gray; */
   
    /* border-radius: 0; */
  }

  
  a:hover {
    text-decoration: none;
  }
  
  .information {
    font-family: "Dancing Script";
    /* font-family: 'Lora', serif;
      font-family: 'Merriweather', serif;
      font-family: 'Roboto Mono', monospace; */
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
  
  .info-name {
    font-weight: bold;
    font-size: 1.4rem;
  }
  
  .bottom {
    text-align: center;
  }
  
  .icons {
    font-size: 0.8rem;
    margin: 1rem;
  }
  



  
}



@keyframes slide-left {
  

  0%{
    transform: translateX(-500px);
  }



  100%{
    transform: translateX(0);
  }
 
}



/* @keyframes slide-right {
  

  0%{
    transform: translateX(500px);

  }



  100%{
    transform: translateX(0);
  }
 
} */


@keyframes image-pop {
  

  0%{
    opacity: 0;
  }



  50%{
    opacity: 0.3;
  }

  100%{
    opacity: 1;
  }
}